.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-detail {
  text-align: left;
}

.no-job-post {
  text-align: center;
}

.edit-ud {
  width: 100%;
}

.App-link {
  color: #899396;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sign-up-page {
  padding-top: 30px;
  padding-bottom: 50px;
}
#home-form {
  width: 400px;
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 5px;
}

.ca-text {
  margin-top: 2em;
  font-size: 0.6em;
}

.job-item {
  display: block;
  background-color: turquoise;
  color: #282c34;
  padding: 30px;
  border-radius: 5px;
  width: 100% !important;
  min-width: 100%;
}
.job-item:hover, .job-item:active {
  text-decoration: none;
  background-color: #282c34;
  color: turquoise;
}

.description {
  overflow: wrap;
}

.job-card {
  padding: 20px;
  border: 1px solid #282c34;
  border-radius: 3px;
  /* margin: 3px; */
}

.joblist {
  border-bottom: 1px solid #282c34;
  margin-bottom: 2px;
  height: 100%;
}

.jobtitle {
  margin-top: 10px;
}
/* .jobtitle {
  padding-top: 20px;
  font-size: 1em;
} */

.jobbuttons {
  padding: 5px;
}


.primarybtn {
  background-color: #282c34 !important;
  color: white !important;
  border: none !important;
}

.primarybtn:hover, .primarybtn:active {
  background-color: turquoise !important;
  color: #282c34 !important;
  border: none !important;
}